*
{
    margin: 0;
    padding: 0;
}
a
{
    color: black;
}
sup
{
    color:rgb(242, 93, 93);
    font-size: 10px;
}
.studio :hover
{
    image-rendering: ;
}
.header
{
   height: 70px;
   width: 100vw; 
   background-color: white;
   box-shadow:0px 10px 5px rgb(249, 247, 247);
   align-content: center;
}
.logo img
{
    height: 40px;
    width: 50px;
}
.profile img
{
    height: 30px;
    width: 30px;
}
.search input
{
    height: 30px;
    width: 25vw;
}
a
{
    text-decoration: none;
}
.navtag
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main img
{
    height:400px;
    width: 75vw;
}
.main h1
{
    font-size: 3rem;
}
.item1
{
    display: flex;
    align-items: center;
    gap: 40px;
}
/* .img1
{
    height: 400px;
    width: 17vw;
    
} */
.img1 img
{
    height:250px;
    width: 15vw;
}
.text img
{
    height: 30px;
    width: 30px;
}

/* .img2
{
    height: 400px;
    width: 15vw;
    
} */
.img2 img
{
    height:250px;
    width: 15vw;
}
.text img
{
    height: 30px;
    width: 30px;
}

/* .img3
{
    height: 400px;
    width: 17vw;
   
} */
.img3 img
{
    height:250px;
    width: 15vw;
}
.text img
{
    height: 30px;
    width: 30px;
}

/* .img4
{
    height: 400px;
    width: 17vw;
   
} */
.img4 img
{
    height:250px;
    width: 15vw;
}
.text img
{
    height: 30px;
    width: 30px;
}

/* .img5
{
    height: 400px;
    width: 17vw;
   
} */
.img5 img
{
    height: 250px;
    width: 15vw;
}
.text img
{
    height: 30px;
    width: 30px;
}

/* .img6
{
    height: 400px;
    width: 17vw;
} */
.img6 img
{
    height:250px;
    width: 16vw;
}
.text img
{
    height: 30px;
    width: 30px;
}
.item2
{
    display: flex;
    gap:0px;
    justify-content: space-between;
}
.item3 img
{
    height: 370px;
    width: 16vw;
}
.heading1 p
{
    font-size: 2.5rem;
}
.heading2 p
{
    font-size: 2.5rem;
}
.item3
{
    display: flex;
    justify-content: space-around;
}
.item4 img
{
    height: 370px;
    width: 16vw;
}
.item4
{
    display: flex;
    justify-content: space-around;
}
.item5 img
{
    height: 370px;
    width: 16vw;
}
.item5
{
    display: flex;
    justify-content: space-around;
}
.wishlist img
{
    height: 30px;
    width: 30px;
}
.bag img
{
    height: 30px;
    width: 30px;
}
.main
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer
{
    text-align: center;
}